<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connstr" providerName="System.Data.SqlClient" connectionString="server=HEMANTH; user id=HEMANTH;Password=abc;database=ATMDB;integrated security=true" />
	</connectionStrings>
</configuration>